


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  
    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;

  }
  
  .container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
  }
  
  .fh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .fv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .resume {
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    padding: 30px 0;
    max-width: 900px;
    position: relative;
    z-index: 2;
    background-color: white;
  }
  
  .resume__block {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
  }
  
  @media screen and (max-width: 576px) {
    .main-info,
    .contact_info_container {
      flex-direction: column;
    }
  
    .contact_info_container {
      align-items: center;
    }
  
    .contact-info__block:not(:last-child) {
      margin-bottom: 20px;
    }
  
    .experiences {
      margin-right: 0;
    }
  }
  .contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.contact-info__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-info__block--center {
  justify-content: center;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.contact-info__item-icon path {
  fill: var(--icon-color);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
  transition: transform .2s; /* Animation */
}
.contact-info__avatar:hover {
  transform: scale(3);
}
.intro {
    display: flex;
    justify-content: start;
  }
  
  .intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
  }
  
  .intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
  }
  
  .intro__icon path {
    fill: var(--text-decoration-color);
  }
  
  .intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
  }
  
  .skills__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
  }
  
  .skills__text {
    color: var(--secondary-text-color);
    text-align: justify;
  }
  .experiences {
    flex: 1 1 60%;
    margin-right: 50px;
  }
  
  .experiences__header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .experiences__company-header-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .experiences__company-header-name {
    color: var(--primary-text-color);
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .experiences__company-project {
    margin-left: 15px;
    margin-bottom: 25px;
  }
  
  .experiences__company-project-role {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .experiences__company-project-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
  }
  
  .experiences__company-project-responsibilities {
    color: var(--secondary-text-color);
    padding-left: 20px;
  }
  
  .additional-info {
    flex: 1 1 40%;
  }
  
  .additional-info__education {
    margin-bottom: 20px;
  }
  
  .additional-info__education-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .additional-info__education-university-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
  }
  
  .additional-info__education-university-name {
    color: var(--secondary-text-color);
  }
  
  .additional-info__languages {
    margin-bottom: 20px;
  }
  
  .additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .additional-info__languages-item {
    color: var(--secondary-text-color);
  }
  .wpfloat {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  

.projects {
  flex: 1 1 60%;
  margin-right: 50px;
}

.projects__header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}


.projects__project-header-name {
  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
  text-align: left;
  margin-bottom: 20px;
}

.projects__project-role {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.projects__company-project-name {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.projects__project-description {
  color: var(--secondary-text-color);
  padding-left: 20px;
}

.skills__block {
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 30px;
  margin-bottom: 15px;
}
.skills__header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}
.skills__list {
  display: flex;
  color: var(--secondary-text-color);
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.skills__item {
  margin-right: 10px;
}

.resume-container {
  position: relative;
  width: 1350px;
  height: 620px;
  margin: 0 auto;
}


#mario {
  width:58px;
  height:100px;
  border:0px solid #000;
  background-image:url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/mario-sprite.png);
}

.big {
  image-rendering:pixelated;
  position:relative;
  top:-50px;
}

/* Animación CSS de caminar */
@keyframes walk {
  0% { background-position:0 0 }
  100% { background-position:120px 0 }
}

/* Clase para activar la animación (mientras se pulsa tecla) */
.caminar {
  animation:walk .25s steps(2) infinite forwards;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
    height: 100%;
    background-image: url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/mario.gif?raw=true'), url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/ground.png?raw=true'), url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/bushes.png?raw=true'), url('https://raw.githubusercontent.com/Kageetai/mario-background-parallax/master/img/back.png?raw=true');
    background-color: #f8e0b0;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
    background-position: left 30% bottom 22px, left 0px bottom 0px, left 0px bottom 22px, left 0px bottom 0px;
    background-attachment: fixed, fixed, fixed, fixed;
    animation: back 15s infinite linear;
    
}
@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left 0px bottom 0px, left 0px bottom 22px, left 0px bottom 0px;
 }
  50% {
    background-position: left 50% bottom 22px, left -816px bottom 0px, left -508px bottom 22px, left -256px bottom 0px;
 }
  100% {
    background-position: left 30% bottom 22px, left -1632px bottom 0px, left -1016px bottom 22px, left -512px bottom 0px;
 }
}
audio {
  display: none;
}
button {
  font-size: 16px;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  display: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button.fade:hover {
  opacity: 0.8;
}

.fade {
  opacity: 0.2;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
